<div class="container">
    <fa-icon [icon]="faBook" size="2xl"></fa-icon>
    <h5 id="educacion">EDUCACION</h5>

    <div class="item" *ngFor="let i of educacion">
        <div class="entidad"><fa-icon [icon]="faGreatherThan"></fa-icon><h6>{{i.entidad}}</h6></div>
        <div class="tipo"><fa-icon [icon]="faGreatherThan" size="2xs"></fa-icon><p>{{i.tipo}}</p></div>
        <div class="titulo"><fa-icon [icon]="faGreatherThan" size="2xs"></fa-icon><p>{{i.titulo}}</p></div>
        <div class="periodo"><fa-icon [icon]="faGreatherThan" size="2xs"></fa-icon><small>{{i.periodo}}</small></div>
    </div>
</div>
