<div class="container">
  <div class="row">
    <div class="col-4 perfil">
      <app-profile></app-profile>
      <app-skills></app-skills>
    </div>
    <div class="col-8 otros">
      <app-nav></app-nav>
      <div class="row superior">
        <div class="col-6">
          <app-educacion></app-educacion>
        </div>
        <div class="col-6">
          <app-experiencia></app-experiencia>
        </div>
      </div>
      <div class="row inferior">
        <app-proyectos></app-proyectos>
      </div>
    </div>
  </div>
</div>