<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-5 col-lg-5">
      <div id="perfil">
        <app-profile></app-profile>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 otros">
      <app-nav id="nav"></app-nav>
      <div class="row superior">
        <div class="col-12 col-12 col-sm-12 col-md-12 col-lg-6">
          <div id="educacion">
            <app-educacion></app-educacion>
          </div>
        </div>
        <div class="col-12 col-12 col-sm-12 col-md-12 col-lg-6">
          <div id="experiencia">
            <app-experiencia></app-experiencia>
          </div>
        </div>
      </div>
      <div class="row inferior">
        <div class="skills" id="skills">
          <app-skills></app-skills>
        </div>
        <div id="proyectos">
          <app-proyectos></app-proyectos>
        </div>
      </div>
    </div>
  </div>
</div>