<div class="container">
    <div class="imagen">
        <img src="assets/imagenes/foto-carnet.jpg" alt="">
    </div>
    <div class="datosPersonales" *ngFor="let i of datosPersonales">
        <h3>Hola!</h3>
        <h5>Mi nombre es {{i.nombre + " " + i.apellido}}, </h5>
        <p>tengo {{edad}} años.<p>
        <p>Vivo en {{i.localidad}}.</p>
        <p>Soy {{i.ocupacion}},</p>
        <p>Tambien estudio {{i.ocupacion2}}.</p>
        <small>Me apasiona mucho la tecnologia y todo lo relacionado a ella.</small>
    </div>

    <div class="iconos">
        <a href="https://github.com/LedesmaMateo"><fa-icon [icon]="faGithub" size="2xl"></fa-icon></a>
        <a><fa-icon [icon]="faLinkedin" size="2xl"></fa-icon></a>
    </div>
</div>
