<div class="container">
    <div class="imagen">
        <img src="https://i.pinimg.com/originals/6f/57/76/6f57760966a796644b8cfb0fbc449843.png" alt="">
    </div>
    <div class="datosPersonales">
        <h3>Hola!</h3>
        <h5>Mi nombre es {{datosPersonales.nombre}},</h5>
        <p>y tengo {{datosPersonales.edad}}.<p>
        <p>Vivo en {{datosPersonales.localidad}}.</p>
        <p>Soy {{datosPersonales.ocupacion}},</p>
        <p>tambien estudio Redes y Telecomunicaciones.</p>
        <small>Me apasiona mucho la tecnologia y todo lo relacionado a ella.</small>
    </div>

    <div class="iconos">
        <a href="https://github.com/LedesmaMateo"><fa-icon [icon]="faGithub" size="2xl"></fa-icon></a>
        <a><fa-icon [icon]="faLinkedin" size="2xl"></fa-icon></a>
    </div>
</div>
