<div class="container">
    <div class="icon">
        <fa-icon [icon]="faGear" size="2xl"></fa-icon>
        <h5>SKILLS</h5>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 item">
            <div class="skills" *ngFor="let i of skill">
                <h6>{{i.lenguaje}}</h6>
                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-info" [ngStyle]="{'width': i.nivel}"></div>
                </div>
            </div>
        </div>
    </div>
</div>