html, body{
    font-family: 'Bebas Neue', cursive;
    margin: 0px;
    padding: 0px;
    background-color:  #000700;
}

h6{
    margin: 0px;
    padding: 0px;
    color: white;
}

h5{
    color: #bfcebf;
}
